<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <% /*= t.include("partials/_adHead.html") */ %>

    <!-- typekit fonts -->
    <script>
      (function(d) {
        var config = {
            kitId: 'rvq5yyp',
            scriptTimeout: 3000
          },
          h = d.documentElement,
          t = setTimeout(function() {
            h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = '//use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function() {
          a = this.readyState;
          if (f || a && a != "complete" && a != "loaded") return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config)
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s)
      })(document);
    </script>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <div class="map-area">
        <div class="area2">
          <section class="chatter">
            <h1>The history of the buffalo soldiers in the Pacific Northwest</h1>
            <p>The buffalo soldiers are best known through stories of their battles during America’s westward expansion, but their Army service also extended throughout the Pacific Northwest.</p>
          </section>
            <div class="buttons">
              <div class="goto back disabled"><i class="fa fa-chevron-left"></i> Previous</div>
                <div class="goto next">Next <i class="fa fa-chevron-right"></i></div>
            </div>
          <div class="pop-container"><div class="introtext">Select a point on the map for information about each location, or select the "Next" button to see them in order of north to south.</div></div>
        </div>
          <div class="area1">
            <div class="aspect-ratio-outer">
              <div class="aspect-ratio-inner">
                <leaflet-map zoom=11>
                  <tile-layer layer="cartoPositron"></tile-layer>
                </leaflet-map>
              </div>
            </div>
          </div>
      </div>
        <div class="source">Sources: National Park Service, Oregon Historical Society, U.S. Army Ordinance Corps, Taylor, Quintard, "In Search of the Racial Frontier: African Americans in the American West 1528-1990"<br>
          <div class="credit">EMILY M. ENG / THE SEATTLE TIMES</div>
        </div>
          <div class="clear"></div>
    </div>
      <div class="clear"></div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_adFoot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>